[Unit]
Description=PPPwn Service
After=network.target

[Service]
ExecStart=/usr/local/bin/run.sh
Restart=always
User=root
Environment=FW_VERSION=1100
Environment=TIMEOUT=10

[Install]
WantedBy=multi-user.target
